<section class="section">
	<div class="section__banner">
		<div class="section__banner--promo">
			<img [src]="'../../../../assets/images/promo-more.png'" alt="Promo" class="promo-more"/>
			<img [src]="'../../../../assets/images/img-more.png'" alt="Promo" class="jg-promo"/>
		</div>
		<div class="section__banner--info">
			<div class="section__banner--txt">
				<h1>Descobre o PlayStation Plus</h1>
				<p>
					Aproveite centenas de jogos de PS5, PS4 e clássicos, modo multijogador
					online e mais benefícios imperdíveis.
				</p>
			</div>
			<app-default-button label="Saiba mais"></app-default-button>
		</div>
	</div>
	<div class="section__cards">
    
  </div>
</section>
