.footer {
	background: var(--bg-color-footer);
	box-shadow: inset 0 0 8px rgba(51, 51, 51, 0.651);
}

.footer__container {
	margin: 0 1rem;
}

.footer__logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 36px 0;
}

.footer__logo img {
	width: 40px;
}

.footer__menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 14px;
	color: #fff;
	padding-bottom: 36px;
}

.footer__menu li {
	padding: 5px 0;
}

.footer__copy {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 36px;
	font-size: 14px;
	color: #fff;
}

@media (min-width: 768px) {
	.footer__menu,
	.footer__copy {
		font-size: 16px;
	}
}

@media (min-width: 1200px) {
	.footer__container {
		max-width: 1200px;
		margin: auto;
	}

	.footer__menu,
	.footer__copy {
		font-size: 18px;
	}

	.footer__logo img {
		width: 60px;
	}
}
